/* Additional Styling for the GIOS version of the portal. A gentle nod towards Web Standards for now. */

/* ASU Header */

#asu_mobile_menu {
    margin-top: 10px;
}

#asu_universal_nav {
    font-weight: 200;
    font-size: 12px;
    font-family: Arial, Helvetic, "sans-serif";
}

#asu_school_name {
    margin-bottom: 13px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.5px;
    line-height: 28px;
}

.site-title a {
    color: #000;
}

#asu_logo {
    padding-top: 0;
}

/* for pages with little content */
.main-content {
    min-height: 450px;
}

#asu_hdr {
    width: 1170px;
    max-width: 1170px;
}

/* Menu */
/*
 * To match the existing site menu, we need to tell the navbar, and its child items, to be a specific height
 * and remove the padding inside the navbar itself (this gives us 'full-height' rollover states). Removing that
 * padding messes up the placement of the menu items, so we change the line height to move them down
 */
 .navbar {
    height: 56px;
    padding: 0;
}

.navbar-nav {
    height: 56px;
    line-height: 2.5em;
}

.nav-item {
    padding-left: .5em;
    padding-right: .5em;
    font-size: .9375rem;
}

.nav-item:hover {
    background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffb310;
}

.home-icon {
    text-align: center;
    width: 64px;
}

.home-icon > a {
    color: #ffb310;
}

/* Buttons */
.btn-primary {
    background-color: #8c1d40;
    border-color: #8c1d40;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #62142d !important;
    border-color: #591229 !important;
}

.btn-secondary {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #000;
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: #c2c2c2 !important;
    border-color: #bcbcbc !important;
    color: #000 !important;
}

#main-wrapper {
    background-image: url('../images/lab-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 487px;
}

/* Links */
.main-content a {
    border-bottom: 1px dotted #8C1D40;
    text-decoration: none;
    color: #8C1D40;
    transition: all 0.25s ease-in-out 0s;
}

.main-content a:hover {
    color: #d23153;
    text-decoration: none;
    border-bottom: 1px dotted #d23153;
}

/* For the case where links are styled as buttons, we don't want to override button styles */
.main-content a.btn {
    border-bottom: none !important;
    color: #000;
}

/* override ASU link borders on our Maps */
#map-canvas a, #map-canvas-summary a{
    border-bottom: none;
}

/* fix conflict because ASU header uses a class called "border", and Bootstrap uses that same name */
#asu_universal_nav li.parent ul li a.border {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

a.subsite-title {
    color: #4f5557;
}

.hero-text {
    background-color: rgba(0, 0, 0, .5);
    padding: 1em;
    border-radius: 10px;
    width: 40%;
    color: white;
}